body{
  margin:0;
  text-align: center;
  font-family:'Merriweather',serif;
  color: #40514E;
}
h1{
  font-size: 5.625rem;
  margin: 50px 0 auto auto;
  font-family: 'Sacramento',cursive;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat',sans-serif;
  font-size:2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
}
.images{
  width:160px;
  height:160px;
}
.pro{
  text-decoration: underline;
}
hr{
  border:dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
}
.top-container{
background-color:#e4f9f5;
position: relative;
padding-top: 100px;
}
.middle-container{
margin: 100px 0;
}
.bottom-container{
background-color: #66BFBF;
padding : 50px 0px 20px;
}
.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 250px;
}
.top-cloud{
  position: absolute;
  top: 40px;
  right: 300px;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 200%;
}
p{
  line-height: 2;
}
.pizza{
  width:25%;
  float: left;
  margin-right: 30px;
}
.chess{
  width:25%;
  float: right;
  margin-left: 30px;
}
.code{
  width:25%;
  float: left;
  margin-right: 30px;
}.intro{
  width :31%;
  margin: auto;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 8px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
a{
  color: #11999e;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
color: #EAF6F6;
font-size: 0.75rem;
padding-left: 20px 0px;
}
